.btn-container{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
    column-gap: 8px;
}

.btn-grass{
    background-color: #78C850;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 6rem;
    
}

.btn-fire{
    background-color: #F08030;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 6rem;
}

.btn-water{
    background-color: #6890F0;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 6rem;
}

.btn-bug{
    background-color: #A8B820;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 6rem;
}

.btn-normal{
    background-color: #A8A878;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 6rem;
}

.btn-poison{
    background-color: #A040A0;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 6rem;
}

.btn-electric{
    background-color: #F8D030;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 6rem;
}

.btn-ground{
    background-color: #E0C068;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 6rem;
}

.btn-fairy{
    background-color: #EE99AC;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 6rem;
}

.btn-fighting{
    background-color: #C03028;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 6rem;
}

.btn-psychic{
    background-color: #F85888;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 6rem;
}

.btn-rock{
    background-color: #B8A038;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 6rem;
}

.btn-ice{
    background-color: #98D8D8;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 6rem;
}

.btn-dragon{
    background-color: #7038F8;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 6rem;
}

.btn-flying{
    background-color: #A98FF3;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 6rem;
}

.btn-steel{
    background-color: #B7B7CE;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 6rem;
}

.btn-ghost{
    background-color: #705898;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 6rem;
}

.btn-all{
    background-color: #afa7a7;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 6rem;
}

