.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 4%;
    gap: 24px;
}

.card{
    border: 1px solid #e3e3e3;
    border-radius: 8px;
    background-color: #e3e3e3;
    width: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .types {
    display: flex;
    margin-left: 64px;
    padding: 4px 4px 0 4px;
}

.card .types div:only-child {
    margin-left: 64px;
}


.card-title{
    background: #333;
    width: 100%;
    text-align: center;
    color: white;
    padding: 8px 0 8px 0;
}

@media(max-width: 500px){
    .card{
        width: 14rem
    }
}
